body {
    padding: 0;
}

a {
    align-self: flex-start;
}

.btn {
    width: 100%;
}

form {
    margin-bottom: 20px;

}

.field {
    margin-bottom: 30px;
}

.field>* {
    display: block;
    margin-bottom: 5px;
    width: 100%;
}

#errorbox {
    color: red;
    margin-bottom: 10px;
}